<application
    android:name=".MainApplication"
    android:label="MudraHub"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/Theme.MudraHub">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.MudraHub">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
